.hidden{
  display: none;
}


.navbar-cart-title a {
    color: #fff;
}

.navbar-cart-title a:hover {
    color: blue;
}

.cart-sub-totle strong {
    color: #fff;
}

.dropdown-menu.cart-list {
    padding: 10px;
}

/* .navbar-cart-img a img {
    object-fit:fill;
    width:160px;
    height:160px;
    border: solid 1px #CCC"
} */




.rate > input{
    display: none;
}

.rate{
    display: inline-block;
    border: 0ch;
}

.rate > label{
    float: right;
}


.rate > label::before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0ch;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

.rate .half::before{
    content: "\f089";
    position: absolute;
    padding-right: 0ch;
}

input:checked ~ label, label:hover ~ label{
    color: #ffb503;
}

input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
    color: #cc9000;
}


.hidden{
    display: none;
}

.rating-star i{
    color: #ffb503;
}


ui.thumb{
    margin: 0 auto;
    padding: 0;
    float: left;
}

ui.thumb li{
    list-style: none;
    padding: 10px;
}

ui.thumb li img{
    width: 80px;
    height: 80px;
    border: 1px solid gray;
}



.out-of-stock {
    padding: 10px;
    text-align: center;
}

.out-of-stock-product {
    padding: 10px;
}




.input-spinner {
  width: 125px;
  flex-wrap: nowrap;
  display: inline-flex;
  vertical-align: middle;
}
.input-spinner input.form-control {
  text-align: center;
  max-width: 46px;
  font-weight: bold;
  flex-basis: 46px;
  border-color: #e4e4e4;
  flex-grow: 0;
}
.input-spinner .btn {
  width: 42px;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}



.input-group-prepend,
.input-group-append {
  display: flex;
}
.input-group-prepend .btn,
.input-group-append .btn {
  position: relative;
  z-index: 2;
}
.input-group-prepend .btn:focus,
.input-group-append .btn:focus {
  z-index: 3;
}
.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.45rem 0.85rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e4e4e4;
  border: 1px solid #ced4da;
  border-radius: 0.37rem;
}
.input-group-text input[type=radio],
.input-group-text input[type=checkbox] {
  margin-top: 0;
}

.input-group-lg > .form-control:not(textarea),
.input-group-lg > .custom-select {
  height: calc(1.5em + 1.2rem + 2px);
}

.input-group-lg > .form-control,
.input-group-lg > .custom-select,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.45rem;
}

.input-group-sm > .form-control:not(textarea),
.input-group-sm > .custom-select {
  height: calc(1.2em + 0.7rem + 2px);
}

.input-group-sm > .form-control,
.input-group-sm > .custom-select,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  padding: 0.35rem 0.5rem;
  font-size: 0.82rem;
  line-height: 1.2;
  border-radius: 0.2rem;
}

.input-group-lg > .custom-select,
.input-group-sm > .custom-select {
  padding-right: 1.85rem;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}



.btn-light {
  color: #212529;
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}
.btn-light:hover {
  color: #212529;
  background-color: #d1d1d1;
  border-color: #cbcbcb;
}
.btn-light:focus, .btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(199, 199, 200, 0.5);
}
.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #cbcbcb;
  border-color: #c4c4c4;
}
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(199, 199, 200, 0.5);
}




.btn-light {
  background-color: #fff;
  border-color: #e4e4e4;
}
.btn-light i {
  color: #969696;
}
.btn-light:hover {
  background-color: #fff;
  border-color: #989898;
}





@-webkit-keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}
.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow 0.75s linear infinite;
          animation: spinner-grow 0.75s linear infinite;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}




.twPc-avatarLink {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: -30px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}
.twPc-avatarImg {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}
.twPc-divUser {
  margin: 5px 0 0;
}
.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.twPc-divName a {
  color: inherit !important;
}

