{% extends 'django_ecommerce/base.html' %}
{% block content %}



        {% include 'django_ecommerce/includes/plain_navbar.html' %}

        {% include 'django_ecommerce/includes/dashboard_sidebar.html' %}


        
              <div class="col-sm-8 col-sm-offset-1">
                <h4 class="font-alt">Change Password</h4>
                {% include 'django_ecommerce/includes/alerts.html' %}
                <hr class="divider-d">
              </div>
              <div class="col-sm-4 col-sm-offset-3 mb-sm-40">
                <br><br>
                <form class="form" action="{% url 'change_password' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <input class="form-control" id="current_password" type="password" name="current_password" placeholder="Old Password"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="new_password" type="password" name="new_password" placeholder="New Password"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="confirm_password" type="password" name="confirm_password" placeholder="Confirm New Password"/>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-round btn-b">Change Password</button>
                  </div>
                  <div class="form-group"><a href="{% url 'dashboard' %}">Back to Dashboard</a></div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider-d">



{% endblock content %}